/*home page*/
h1 {
	padding: 10px;
}

header {
	position: fixed;
	background-color: white;
	margin-top: 0;
}

#mainContainer {
	margin-top: 300px;
	font-size: 15px;
}


#info {
	padding: 10px;
	margin: 10px;
	font-size: 15px;
}

#foodScroll {
	padding: 10px;
	margin: 10px;
	font-size: 15px;
}

footer {
	margin: 10px;
}

/*search page*/

#recipeResults {
	margin: 10px;
	padding: 10px;
	font-size: 15px;
}

#changedMind {
	margin: 10px;
	padding: 10px;
	font-size: 15px;
}
.btn {
	font-size: 12px;
}


#resultsHeader {
	text-align: center;
}

/*review page*/

#reviews {
	margin: 10px;
	padding: 10px;
	font-size: 15px;
}
#newReview {
	margin: 10px;
	padding: 10px;
	font-size: 15px;
}

#foodScroll {
	height: 300px;
	width: 300px;
	overflow: auto;
}
