/*all pages*/

h1 {
    padding: 10px;
}

header {
    position: fixed;
    background-color: white;
    margin: 0;
}
.page-header {
    margin-top: 10px;
}

#mainContainer {
    margin-top: 250px;
    font-size: 15px;
}

footer {
    margin: 15px;
}

#myModal {
    margin-top: 220px;
    background-opacity: .5;
}

.navbar {
    padding: 0px;
}

/*home page*/

#foodScroll {
    padding: 200px;
    margin: 200px;
    font-size: 15px;
}

#otherContainer {
    margin-top: 250px;
    font-size: 15px;
}

#info {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

#randomDescription {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}

.description {
    margin-bottom: 15px;
}

#favorites {
    margin-top: 50px;
}

/*search page*/

#recipeResults {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

#changedMind {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.btn {
    font-size: 12px;
}

img {
    object-fit: contain;
}

#start {
    right: 40px;
    position: relative;
}

#end {
    position: relative;
    right: 35px;
}

.foodChoice {
    position: relative;
    right: 70px;
}

#mode {
    /*position: absolute;*/
    left: 29px;
    top: -1px;
}

.transpChoice {
    position: relative;
    right: 30px;
}

/*review page*/

#reviews {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

#logo {
    position: relative;
    bottom: 8px;

}

/*Random Page*/

#randomResult {
    margin-bottom: 10px;
}

/*Home Page Gallery*/

.galleryContainer .galleryItem {
    height: auto;
    position: relative;
}

.galleryContainer .galleryItem > .galleryImage {
    position: relative;
}

.galleryContainer .galleryItem > .galleryImage > .imageOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    opacity: 0;
    webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.galleryContainer .galleryItem > .galleryImage > .imageOverlay > .galleryDishTitle {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.galleryContainer .galleryItem > .galleryImage > .imageOverlay:hover {
    opacity: 1;
    cursor: pointer;
}

.galleryContainer .galleryItem {
    width: 20%;
}

.galleryContainer .galleryItem.doubleSize {
    width: 40%;
}

@media (max-width: 991px) {
    .galleryContainer .galleryItem {
        width: 50%;
    }
}

