/*home page*/
h1 {
	padding: 10px;
}

header {
	position: fixed;
	background-color: white;
	margin-top: 0;
}

#mainContainer {
	margin-top: 300px;
}

#otherContainer {
	margin-top: 300px;
}

#info {
	padding: 10px;
	margin: 10px;
}

#foodScroll {
	padding: 10px;
	margin: 10px;
}

footer {
	margin: 10px;
}

/*search page*/

#recipeResults {
	margin: 10px;
	padding: 10px;
}

#resultsPic {
	margin: 10px;
	padding: 10px;
}

#changedMind {
	margin: 10px;
	padding: 10px;

}


#resultsHeader {
	text-align: center;
}

/*review page*/

#reviews {
	margin: 10px;
	padding: 10px;
}
#newReview {
	margin: 10px;
	padding: 10px;
}